#tweetModal.modal.hide.fade
  //.modal-close.v1 X
  .modal-body
    textarea(name='status', maxlength='140', placeholder='Tweet Something Here')
    .row
      .col-xs-6
        .tweet-chars 0 / 140
      .col-xs-6.text-right
        .btn.btn-primary#tweet-btn Tweet
  .modal-alert.hide.text-center