# Created by .gitignore support plugin (hsz.mobi)

### OSX ###
.DS_Store

### PhPStorm / IntellJ IDEA ###
.idea/
*.iml

### Build Related ###
public/css/style.css

### Node/Grunt/npm Related ###
node_modules/
npm-debug.log
.grunt