header
	.content
		.container-fluid
			.row
				.col-xs-3
					.btn.btn-primary(name='home') Home
				.col-xs-6
					input#tweetSearch(type='text', name='search', placeholder='Search Twitter')
				.col-xs-3.text-right
					.btn.btn-primary.hidden-xs(name='composeTweet') Compose Tweet
					.btn.btn-primary.visible-xs(name='composeTweet') Tweet