doctype html
html
  head
    link(rel='stylesheet', href='/css/utils/style.css')
    link(rel='stylesheet', href='/css/utils/bootstrap.min.css')
    link(rel='stylesheet', href='/css/utils/bootstrap-grid.css')
    block head
  body
    .main-content
      .content
        block content
    script(src='../js/utils/jquery.min.js')
    script(src='../js/utils/bootstrap.min.js')
    script(src='../js/utils/jquery-ui.min.js')
    block js