.tweet-img-sprite {
	background: url('../images/twitter-sprite.png') no-repeat top left;
	width: 16px;
	height: 16px;
	.display-inline;
	margin-right: @margin-xxlarge;
	&:last-child {
		margin-right: 0;
	}
	&[type=reply] {
		background-position: 0 0;
		&:hover, &:focus {
			background-position: -16px 0;
		}
	}
	&[type=favorite] {
		background-position: -32px 0;
		&:hover, &:focus {
			background-position: -48px 0;
		}
		&.done {
			background-position: -64px 0;
		}
	}
	&[type=retweet] {
		background-position: -176px 0;
		&:hover, &:focus {
			background-position: -192px 0;
		}
		&.done {
			background-position: -240px 0;
		}
	}
}