.tweet-item {
  border: @border-width-thick @border-style-base @border-color-light;
  padding: @padding-medium;
  .bkground-lighter;
  .brdr-radius-base;
  img {
    .brdr-radius-circle;
  }
  .tweet-msg {
    margin-top: @margin-base;
  }
  .tweet-user {
    .text-blue;
    .text-medium;
    .text-bold;
  }
}