extends ../layout

block head
  title Testing #{title}

block content
  #example

block js
  script(src='../js/build/react.min.js')
  script(src='../js/build/JSXTransformer.js')
  script(type='text/jsx' src='../js/tweetReact.js')
  script(src='../js/general.js')
  script(src='../js/tweet.js')
  script.
    $(document).ready(function(){
      tweetFlow.fetchTweets();
    });