extends ../layout

block head
  title Testing #{title} without JSX

block content
  #example

block js
  script(src='../js/build/react.min.js')
  script.
    var CommentBox = React.createClass({
      render: function() {
        return (
          React.createElement('p', null,
            "Hello Dude, It is " + this.props.date.toTimeString()
          )
        );
      }
    });
    setInterval(function() {
      React.render(
        React.createElement(CommentBox, {date:new Date()}),
            document.getElementById('example')
          );
    }, 500);