extends ../layouts/default

block head
  title Testing #{title}

block content
  .container-fluid
    .row
      .col-md-4#tweet-post
        .row
          .col-xs-12
            textarea(name='status', maxlength='140', placeholder='Tweet Something Here')
            .row
              .col-xs-6.col-sm-8.col-md-7
                .tweet-chars 0 / 140
              .col-xs-6.col-sm-4.col-md-5
                .btn.btn-primary#tweet-btn Tweet
      .col-md-8
        .row
          .col-xs-12
            #tweet-notify.hide
            #no-tweet-list Fetching Tweets ...
            #tweet-list.hide
              #tweet-fresh
              #tweet-archive
            #more-tweets.hide(maxId='') Fetching Tweets ...

block js
  script(src='../js/build/react.min.js')
  script(src='../js/build/JSXTransformer.js')
  script(type='text/jsx' src='../js/tweetReact.js')
  script(src='../js/general.js')
  script(src='../js/tweet.js')
  script.
    $(document).ready(function(){
      tweetFlow.initTweetBox('fresh', '#{pageType}');
    });